
    *{

        margin:0;
        padding:0;
    }

   

  

nav ul li{

    display: inline-block
}

li{
    padding-left: 10px;
    text-decoration: none;
}

a{

    text-decoration: none;
    
}


nav{
    display: flex;
    justify-content: flex-end;
    padding: 30px;

}




.home{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
    
}

.search{

    margin: 25px;
    position:relative;
    

    
}


.fa-search{
    position: absolute;

    left:3%;
    bottom: 35%;
    color: #777
    
}


.fa-microphone{
    position: absolute;

    right:3%;
    bottom: 35%;
    color: #777
    
}


input{
    padding: 20px;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    border-radius: 40px;
    min-width: 40vw;
}

input:focus{

    outline:none;
    border: #777;
}


.btns{

    padding-bottom: 30px;
}


.btn{

    padding: 13px;
    margin-left: 2px;
}


.naija{

    color: #1A0DAB;
    padding: 5px 3px;
    
    
}


.naija:hover{

    text-decoration: underline;
    cursor: pointer;
}






.footerwrap{

    display: flex;

    justify-content: space-between;

    position: relative;
    
    
}





.bottom{
    width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;
    background: #aaaeb3;
    min-height: 7vh;

}


.topLeft{

    position: absolute;

    top: 20px;
}

.topRight{

    position: absolute;

    top: 20px;
    right:20px;
}
 
    



a{

    color: #5f6368;;
}


.lHand, .rHand{

    padding-right: 3px;
    font-size: 13px;

    font-family: sans-serif;

}

a:hover{
    text-decoration: underline;
    
}


.signIn{

    border: 1px solid #4285f4;
    padding: 7px;
    color: #fff;
    background: #4285f4;
    letter-spacing: 0.5px;
    text-align: center;
}